QWidget {
    background-color: #343537;
}

QToolBar {
    background-color: #474747;
    border-radius: 10px;
    margin: 3px;
    padding: 2px;
}

QToolButton {
    background-color: #000;
    border-radius: 10px;
    margin: 3px;
    padding: 3px;
    color: #fff;
}

QToolButton:hover {
    background-color: blue;
    border-radius: 12px;
    margin: 3px;
    padding: 3px;
    color: #fff;
    border: 2px solid gray;
}

QToolButton:checked {
    background-color: blue;
    border-radius: 12px;
    margin: 3px;
    padding: 3px;
    border: 2px solid gray;
}

QLineEdit {
    background-color: #000;
    color: #fff;
    border-radius: 10px;
    padding: 3px;
}

QLineEdit:hover {
    background-color: blue;
    color: #fff;
    border-radius: 12px;
    padding: 3px
}

QTabBar:tab {
    background-color: gray;
    border-radius: 10px;
    padding: 6.5px;
    margin-left: 2px;
    margin-top: 1px;
    margin-bottom: 4px;
    font-size: 14px;
}

QTabBar:tab::selected {
    background-color: green;
    border-radius: 10px;
    padding: 6.5px;
    margin-left: 2px;
    margin-top: 4px;
    margin-bottom: 1px;
    font-size: 14px;
}

QTabBar:tab:hover {
    background-color: lightgreen;
    border-radius: 12px;
    padding: 6.5px;
    margin-left: 2px;
    margin-top: 4px;
    margin-bottom: 1px;
    font-size: 16px;
}

QListWidget:item {
    color: #fff;
    margin-bottom: 5px;
}
